:root {
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --white-text: rgba(255, 255, 255, 1);
  --subtle-text: rgba(142, 143, 153, 1);
  --primary-brand: rgba(77, 90, 229, 1);
  --pressed-state: rgba(64, 75, 191, 1);
  --white-background: rgba(255, 255, 255, 1);
  --modal-background: rgba(252, 252, 252, 1);
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --light: rgba(244, 244, 253, 1);
  --dark: rgba(46, 47, 66, 1);
  --text: rgba(67, 68, 85, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  background-color: var(--white-background);
  color: var(--text);
}

body.modal-open {
  overflow: hidden;
}

.container {
  max-width: 428px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-brand);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.second-subtitle {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.hidden {
  visibility: hidden;
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

/* tablet */

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

.menu-toggle {
  border: none;
  outline: none;
  margin: 0;
  margin-left: auto;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

/* desktop */

@media only screen and (min-width: 1157px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

@media only screen and (min-width: 1157px) {
  .logo.link {
    margin-right: 76px;
  }
}

/* phone */

@media only screen and (max-width: 767px) {
  .header-list,
  .address-contacts {
    display: none;
  }
}

/* phone header */

.header-section {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-div-section {
  display: flex;
  align-items: center;
  height: 72px;
}

.logo-studio-black {
  color: #2e2f42;
}

/* tablet header */

.main-nav {
  color: var(--dark);
  text-decoration: none;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 500;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-section {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 767px) {
  .header-div-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1157px) {
  .logo.link {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 767px) {
  .header-list {
    display: flex;
  }
}

.header-list.address {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

@media only screen and (min-width: 1157px) {
  .header-list.address {
    flex-direction: row;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    gap: 40px;
  }
}
.header-list {
  gap: 40px;
}

.current-page::after {
  width: 100%;
}

.current-page::after {
  width: 100%;
}

.main-nav.current-page::after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 4px;
  left: 0px;
  bottom: 0px;
  background: var(--pressed-state);
  border-radius: 2px;
}

.main-nav:hover,
.main-nav:focus {
  color: #404bbf;
}

.contact-nav {
  text-decoration: none;
  color: inherit;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav:hover {
  color: var(--pressed-state);
}

/* hero section */
.button-order {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--white-text);
  background-color: var(--primary-brand);
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
}

.main-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 320px;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 767px) and (max-width: 1157px) {
  .hero-section .container {
    gap: 36px;
  }
}

@media only screen and (min-width: 1157px) {
  .hero-section .container {
    gap: 48px;
  }
}

@media only screen and (min-width: 319px) and (max-width: 399px) {
  .main-title {
    font-size: 32px;
  }
}

@media only screen and (min-width: 767px) {
  .main-title {
    font-size: 56px;
    max-width: 496px;
    height: 120px;
  }
}

.hero-section {
  max-width: 768px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-section-sub/mobile-bg-1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section-sub/mobile-bg-2x.jpg);
  }
}

@media only screen and (min-width: 427px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section-sub/tablet-bg-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-section-sub/tablet-bg-2x.jpg);
    }
  }
}

@media only screen and (min-width: 767px) {
  .hero-section {
    max-width: 1158px;
    height: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section-sub/desktop-bg-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-section-sub/desktop-bg-2x.jpg);
    }
  }
}

@media only screen and (min-width: 1157px) {
  .hero-section {
    max-width: 1440px;
    height: 600px;
    padding: 188px 0;
  }
}

/* @media only screen and (min-width: 768px) and (max-width: 1157px) {
  .hero-section {
    max-width: 768px;
  }
} */
/* goals */
.our-goals-sub {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}

.icon-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  width: 264px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 767px) {
  .our-goals-sub {
    text-align: center;
  }
}

@media only screen and (min-width: 1157px) {
  .our-goals-sub {
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.features-list {
  width: 356px;
}

@media only screen and (min-width: 1157px) {
  .features-list {
    width: 264px;
  }
}
.our-goals {
  padding: 96px 0;
}
@media only screen and (min-width: 1157px) {
  .our-goals {
    padding: 120px 0 0 0;
  }
}

@media only screen and (max-width: 1157px) {
  .icon-svg,
  .our-duty {
    display: none;
  }
}

/* duty */

.work.list {
  display: flex;
  gap: 24px;
  width: calc((100%-48px) / 3);
}

/* team */
.our-team {
  background-color: #f4f4fd;
  padding: 96px 0;
  display: flex;
}

.team.list,
.advantages.list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .team.list {
    row-gap: 64px;
  }
}

.list-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.hero-p-description {
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.image {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 1157px) {
  .duty-list .image {
    width: 360px;
    height: 300px;
  }
}

.hero-description {
  padding: 32px 0;
  border-radius: 0px 0px 4px 4px;
}

.second-subtitle.team {
  text-align: center;
  margin-top: 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social.team {
  display: flex;
  background-color: var(--primary-brand);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social.icon {
  fill: var(--light);
}

.social.team:hover,
.social.team:focus {
  background-color: #404bbf;
}

/* our customers */

.our-customers {
  padding: 96px 0;
}

@media only screen and (min-width: 1157px) {
  .our-team,
  .our-customers,
  .our-duty {
    padding: 120px 0;
  }
}
.customers-title {
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  line-height: 1.1;
  color: #2e2f42;
}

.customers-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
  column-gap: 16px;
}

@media only screen and (min-width: 319px) and (max-width: 427px) {
  .customers-list {
    gap: 36px;
  }
}
@media only screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }
}

.customers-link {
  width: 190px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #8e8f99;
  padding: 16px 32px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .customers-link {
    width: 168px;
  }
}

.customers-link:hover,
.customers-link:focus {
  color: var(--pressed-state);
  border-color: solid var(--pressed-state);
}

.customers-icon {
  fill: currentColor;
}

/* footer */

.footer-section {
  padding: 96px 0;
  background-color: #2e2f42;
}

@media only screen and (min-width: 1157px) {
  .footer-section {
    padding: 100px 0;
  }
}

@media only screen and (max-width: 767px) {
  .container.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 72px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1157px) {
  .container.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 16px;
    row-gap: 72px;
    width: 584px;
  }
}

@media only screen and (min-width: 1157px) {
  .container.footer {
    display: flex;
    align-items: baseline;
  }
}

@media only screen and (min-width: 767px) {
  .contact-form-container {
    width: 453px;
    height: 80px;
  }
}

.logo.footer {
  margin-bottom: 16px;
  margin-right: 0;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  justify-content: center;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.form-button:hover,
.form-button:focus {
  background-color: var(--pressed-state);
}

@media only screen and (min-width: 767px) {
  .logo.footer {
    justify-content: normal;
  }
}

.logo-studio-white {
  color: var(--light);
}

.footer-text {
  color: var(--light);
  max-width: 264px;
  margin: 0 auto;
}

.footer-logo-text {
  height: 112px;
}
@media only screen and (min-width: 1157px) {
  .footer-logo-text {
    margin-right: 120px;
  }
}
@media only screen and (min-width: 1157px) {
  .footer-social-media {
    margin-right: 80px;
  }
}

.footer-social-text {
  color: var(--white-text);
  margin-bottom: 16px;
  height: 24px;
  font-weight: 500;
}

@media only screen and (max-width: 767px) {
  .footer-social-text {
    text-align: center;
  }
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  background-color: var(--primary-brand);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form {
  text-align: center;
}

@media only screen and (min-width: 427px) and (max-width: 767px) {
  .email-input {
    width: 398px;
  }
}
.email-input {
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  min-width: 264px;
  height: 40px;
  background: none;
  color: var(--white-text);
  padding: 8px 16px;
}

.footer-form-text {
  font-weight: 500;
  color: var(--white-text);
  display: block;
  width: 75px;
  height: 24px;
  margin: 0 auto 16px auto;
}
@media only screen and (min-width: 767px) {
  .footer-form-text {
    margin: 0 0 16px 0;
  }
}

@media only screen and (min-width: 767px) {
  .subscribe-form-container {
    display: flex;
  }
}
.form-button {
  display: flex;
  align-items: center;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background-color: var(--primary-brand);
  border-radius: 4px;
  border: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin: 16px auto 0 auto;
}

@media only screen and (min-width: 767px) {
  .form-button {
    margin: 0 0 0 24px;
  }
}
.icon-sub {
  margin-left: auto;
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--modal-overlay);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 408px;
  height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
}

@media only screen and (max-width: 409px) {
  .modal {
    width: 100%;
    height: 620px;
  }
}

.modal-close-btn {
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--pressed-state);
  color: var(--white-background);
}
.modal-icon {
  fill: currentColor;
}

/* modal form */

body.modal-open {
  overflow: hidden;
}

.modal-title {
  display: block;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 12px;
}

.modal-form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
  margin-bottom: 8px;
}

.modal-textarea-label {
  margin-bottom: 16px;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}

.input-container {
  display: block;
  position: relative;
  margin-top: 4px;
  color: var(--dark);
}

.form-input {
  display: block;
  padding: 11px 16px 11px 38px;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  background-color: transparent;
}

.form-input:focus,
.textarea-modal-form:focus {
  outline: none;
  border-color: var(--primary-brand);
}

.form-input:focus ~ .modal-form-icon {
  fill: var(--primary-brand);
}

.textarea-modal-form {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 4px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-modal-form::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}

.checkbox-label a {
  color: var(--primary-brand);
}

.checkbox-input {
  position: absolute;
  appearance: none;
}

.checkbox-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Crect width='15' height='15' x='.5' y='.5' fill='%23404BBF' rx='1.5'/%3E%3Cpath fill='%23F4F4FD' d='M11.446 4.255A.917.917 0 0 1 13 4.901a.928.928 0 0 1-.242.649l-4.894 6.154a.921.921 0 0 1-1.019.229.918.918 0 0 1-.306-.204L3.293 8.466a.925.925 0 0 1-.226-1.024.925.925 0 0 1 .87-.578.916.916 0 0 1 .656.294L7.162 9.74l4.26-5.458a.311.311 0 0 1 .025-.027h-.001Z'/%3E%3Crect width='15' height='15' x='.5' y='.5' stroke='%23404BBF' rx='1.5'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  cursor: pointer;
}

.checkbox-input:checked + .checkbox-icon {
  border: 1px solid var(--pressed-state);
  background-color: var(--pressed-state);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-btn {
  display: flex;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  width: 169px;
  height: 56px;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-text);
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--pressed-state);
}

/* mobile menu */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-background);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.mobile-menu-item.current-page,
.main-nav.current-page {
  position: relative;
  color: #404bbf;
}
.mobile-menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.mobile-menu-item.current-page::after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 4px;
  left: 0px;
  bottom: -1px;
  background: var(--pressed-state);
  border-radius: 2px;
}

.mobile-contacts {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  height: 104px;
}

.menu-toggle.js-close-menu {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #2e2f42;
}

.mobile-menu-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu-container {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  padding-right: 35px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: #ffffff;
}

.mobile-social-list {
  display: flex;
  gap: 56px;
}
@media only screen and (max-width: 419px) {
  .mobile-social-list {
    gap: 28px;
  }
}

.mobile-social-icon {
  display: flex;
  background-color: var(--primary-brand);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-item {
  width: 40px;
  height: 40px;
}

.mobile-address.number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4d5ae5;
  text-decoration: none;
}

@media only screen and (max-width: 427px) {
  .mobile-address.number {
    font-size: 25px;
  }
}

.mobile-address.email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

/* portfolio desktop */
.portfolio {
  text-decoration: none;
}

.buttons-section {
  padding: 96px 0 120px;
}

.portfolio-buttons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.btn:focus,
.btn:hover {
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #404bbf;
}

.btn {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 767px) {
  .portfolio-buttons-list {
    flex-wrap: wrap;
  }
}

.portfolio-img-wrap {
  overflow: hidden;
  position: relative;
}

.portfolio-images-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
}

.portfolio-list-item {
  position: relative;
  flex-basis: calc((100% - 48px) / 1);
}
@media only screen and (min-width: 767px) {
  .portfolio-list-item {
    flex-basis: calc((100% - 48px) / 2);
  }
}

@media only screen and (min-width: 1157px) {
  .portfolio-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}

.portfolio-card-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  overflow-y: auto;
  transform: translate(0, 100%);
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: lightyellow;
  text-transform: none;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  backdrop-filter: blur(18px);
}

.our-products:hover::before,
.portfolio-card-text:hover {
  opacity: 1;
}

.our-products:hover .portfolio-card-text,
.our-products:focus .portfolio-card-text {
  transform: translate(0, 0);
}
.our-products {
  display: block;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-products:hover,
.our-products:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-images-description {
  padding: 32px 16px;
  border-top: none;
  text-decoration: none;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}

.product-p-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.button {
  line-height: 1.5;
  color: var(--primary-brand);
  background-color: var(--light);
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
}
